# Homework 2 - Ai

Overall: -2 for imports not collected at the top. (I correct this)

Q2: -2 MCMC summary table no formatting, no description 

Q3: -1 for leaving SEQN as float. (I do this)

In [ ]:
#format adjustment---collect all imports at the top
import random
import numpy as np
from collections import defaultdict
from operator import itemgetter
from timeit import Timer
import pandas as pd

### problem 0 ###

In [ ]:
# The previous code

sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = [] 
for m in range(len(sample_list)): 
    li = [sample_list[m]]  
        for n in range(len(sample_list)): 
            if (sample_list[m][0] == sample_list[n][0] and
                    sample_list[m][3] != sample_list[n][3]): 
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[3], reverse=True)[0]) 
res = list(set(op))

IndentationError: unexpected indent (<ipython-input-123-8c6abc8e285e>, line 7)

In [124]:
# Modified code

sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []   # set op as list.
for m in range(len(sample_list)):   # for m in range (3)
    li = [sample_list[m]]   # li = one of the m list in sample_list
    for n in range(len(sample_list)):   # for n in range (3)
            if (sample_list[m][0] == sample_list[n][0] and   # if the 1st number of the m list = the 1st number of the n list
                    sample_list[m][2] != sample_list[n][2]):   # if the 3rd number in m list does not = the 3rd number in n list
                li.append(sample_list[n])  # add the n list to li list.
    op.append(sorted(li, key=lambda dd: dd[2], reverse=True)[0])   
res = list(set(op))
res

[(0, 1, 2), (1, 9, 8)]

For a given tuple list, if multiple tuples in the list have the first element same, then only the tuple with the largest last element is selected.

There are some errors in this original code, which will lead to an error. There are two points that need to be improved.
1. First, the code is indented incorrectly. Too many indents in the fifth line of code (for N in range (len (sample_list)):). This code should be equivalent to the level of the previous code.
2. Tuple index "3" is causing error. Because the range(len(sample_list)) = range(3), which is No.0, No.1, and No.2. So nees to change the index of the tuple to "2".

There are ways that can make the snippent more efficient, literate, and “pythonic”. 
1. We can use "defaultdict" code to group tuples with the same first element, and then take the maximum value of each group according to the third element.
2. We can use "itertools.groupby" and "operator.itemsetter" to make it more literatly.

### problem 1 ###

In [125]:


def tuples00(n, k=5, low=0, high=10):
    """
    This is a function that used to generate a random list of n k-tuples containing integers ranging from low to high.

    Parameters
    ----------
    n : int
        The number of outputs for the result of the function.
    k : int
        The numbers of integers that contains in one tuple.
    low : int
        The minimum value of the value selection range in each tuple.
    high : int
        The maximum value of the value selection range in each tuple.

    Returns
    -------
    list01 : a list of tuples

    """
    list01 = list(np.random.randint(low, high, size=(n,k), dtype = int))
    list01 = [tuple(x) for x in list01]
    return list01

tuples00(4,6,0,10)

[(2, 1, 3, 7, 0, 0),
 (2, 7, 7, 2, 2, 7),
 (6, 6, 6, 4, 5, 4),
 (6, 2, 7, 0, 8, 5)]

In [126]:
# This means that the statement of "all the elements in the result of tuples00 are not tuple" is False, than return AssertionError. 

assert all(isinstance(y, tuple) for y in tuples00(4, 6, 0, 10)) == False

AssertionError:

In [127]:
# another way to do this question.

# import random
# import numpy as np

#def tuples00(n, k=1, low=0, high=10):
#    list00 = []
#    for i in range(n):
#        list01 = []
#        for j in range(k):
#            list01.append(random.randint(low, high))
#        list00.append(list01)
#        list00 = [tuple(x) for x in list00]
#    return list00

### problem 2 ###

In [128]:
def func0a(sample_list, a, b):
    """
    Encapsulate the code snippet from the warmup into a function.

    Parameters
    ----------
    sample_list : list (a list of tuples)
        the input we want to analysis by func02
    a : int
        the first paremeter 
    b : int
        the second paremeter

    Returns
    -------
    res : list
        the final output of a list of tuples

    """
    op = []
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][a] == sample_list[n][a]) and (sample_list[m][b] != sample_list[n][b]):
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[b], reverse=True)[0]) 
    res = list(set(op))
    return res

func0a([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

[(0, 1, 2), (1, 9, 8)]

In [129]:


def func0b(sample_list, a, b):
    """
    Use "defaultdict" code to group tuples with the same first element,         
    and then take the maximum value of each group according to the third element.

    Parameters
    ----------
    sample_list : list
        the input of the function
    a : int
        the first paremeter
    b : int
        the second paremeter

    Returns
    -------
    res : list
        
    """
    d = defaultdict(list)
    for i in sample_list:
        d[i[a]].append(i)
    res = [max(val, key=lambda x: x[b]) for val in d.values()]
    return res

func0b([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

# cite: http://nfail.com/q/pTXVlU

[(1, 9, 8), (0, 1, 2)]

In [130]:
# This is another thinking about the problem

def func00(sample_list, a, b):
    op = []
    for m in range(len(sample_list)):
        li = [sample_list[m]]
        [li.append(sample_list[n]) for n in range(len(sample_list)) if (sample_list[m][a] == sample_list[n][a] and 
                                                                        sample_list[m][b] != sample_list[n][b])]
        op.append(sorted(li, key=lambda dd: dd[b], reverse=True)[a])
    res = list(set(op))
    return res

func00([(1, 3, 5), (0, 1, 2), (1, 9, 8)], 0, 2)

[(0, 1, 2), (1, 9, 8)]

In [131]:


def func0c(sample_list, a, b):
    """
    The function that traverse the input list of tuples no more than twice. 

    Parameters
    ----------
    sample_list : list
        The in put of the function. (A list of tuples)

    Returns
    -------
    res : list
        The output of the function. (A list of tuples)

    """
    d02 = {}
    for i in sample_list:
        if i[a] in d02:
            d02[i[a]].append(i)
        else:
            d02[i[a]] = [i]
    res = ([max(g, key=itemgetter(-1)) for g in d02.values()])
    return res

func0c([(1, 3, 5), (0, 1, 2), (1, 9, 8)], a=0, b=2)

# cite: http://nfail.com/q/pTXVlU

[(1, 9, 8), (0, 1, 2)]

In [132]:


nlist = list(np.random.randint(3, 15, size=10))
print(klist)
time_lst = defaultdict(list)

for n in nlist:
    sample_list = tuples00(n,5,0,10)
    for f in [func0a, func0b, func0c]:
        t = Timer('f(sample_list,0,2)', globals={'f': f, 'sample_list': sample_list})
        tm = t.repeat(repeat=10, number=1)
        time_lst['Function'].append(f.__name__)
        time_lst['n'].append(n)            
        time_lst['mean, s'].append(np.mean(tm))

time_lst = pd.DataFrame(time_lst)
for c, d in zip(time_lst.columns, time_lst.dtypes):
    if d == np.dtype('float64'):
        time_lst[c] = time_lst[c].map(lambda x: '%5.8f' % x)

ntime = time_lst
print(ntime)

[1, 5, 5, 9, 6, 5, 3, 4, 9, 1]
   Function   n     mean, s
0    func0a   3  0.00002660
1    func0b   3  0.00001299
2    func0c   3  0.00000898
3    func0a  12  0.00012627
4    func0b  12  0.00002721
5    func0c  12  0.00002509
6    func0a   7  0.00005753
7    func0b   7  0.00001800
8    func0c   7  0.00001574
9    func0a   6  0.00004229
10   func0b   6  0.00001844
11   func0c   6  0.00002039
12   func0a  12  0.00013549
13   func0b  12  0.00002427
14   func0c  12  0.00003146
15   func0a   9  0.00008287
16   func0b   9  0.00002239
17   func0c   9  0.00001881
18   func0a   6  0.00011609
19   func0b   6  0.00004098
20   func0c   6  0.00003455
21   func0a  13  0.00011682
22   func0b  13  0.00001668
23   func0c  13  0.00001569
24   func0a   7  0.00003186
25   func0b   7  0.00001270
26   func0c   7  0.00001105
27   func0a  11  0.00006164
28   func0b  11  0.00001668
29   func0c  11  0.00001422

### problem 3 ###

In [133]:


demo1112 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/DEMO_G.XPT')
demo1314 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/DEMO_H.XPT')
demo1516 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/DEMO_I.XPT')
demo1718 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/DEMO_J.XPT')
demo1112

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGY,...,DMDFMSIZ,DMDHHSZA,DMDHHSZB,DMDHHSZE,DMDHRGND,DMDHRAGE,DMDHRBR4,DMDHREDU,DMDHRMAR,DMDHSEDU
0,62161.0,7.0,2.0,1.0,22.0,NaN,3.0,3.0,2.0,NaN,...,5.0,5.397605e-79,1.000000e+00,5.397605e-79,2.0,50.0,1.0,5.0,1.0,5.0
1,62162.0,7.0,2.0,2.0,3.0,NaN,1.0,1.0,1.0,3.0,...,6.0,2.000000e+00,2.000000e+00,5.397605e-79,2.0,24.0,1.0,3.0,6.0,NaN
2,62163.0,7.0,2.0,1.0,14.0,NaN,5.0,6.0,2.0,14.0,...,5.0,5.397605e-79,2.000000e+00,1.000000e+00,1.0,42.0,1.0,5.0,1.0,4.0
3,62164.0,7.0,2.0,2.0,44.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.000000e+00,2.000000e+00,5.397605e-79,1.0,52.0,1.0,4.0,1.0,4.0
4,62165.0,7.0,2.0,2.0,14.0,NaN,4.0,4.0,2.0,14.0,...,5.0,1.000000e+00,2.000000e+00,5.397605e-79,2.0,33.0,2.0,2.0,77.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9751,71912.0,7.0,2.0,1.0,40.0,NaN,3.0,3.0,2.0,NaN,...,3.0,5.397605e-79,1.000000e+00,5.397605e-79,2.0,39.0,1.0,4.0,1.0,1.0
9752,71913.0,7.0,2.0,2.0,18.0,NaN,5.0,6.0,1.0,18.0,...,5.0,5.397605e-79,2.000000e+00,1.000000e+00,1.0,61.0,1.0,4.0,1.0,5.0
9753,71914.0,7.0,2.0,2.0,10.0,NaN,3.0,3.0,2.0,10.0,...,6.0,1.000000e+00,3.000000e+00,5.397605e-79,1.0,39.0,1.0,4.0,1.0,4.0
9754,71915.0,7.0,2.0,1.0,60.0,NaN,3.0,3.0,2.0,NaN,...,1.0,5.397605e-79,5.397605e-79,1.000000e+00,1.0,60.0,1.0,5.0,5.0,NaN
9755,71916.0,7.0,2.0,1.0,16.0,NaN,3.0,3.0,1.0,16.0,...,3.0,5.397605e-79,1.000000e+00,5.397605e-79,1.0,49.0,1.0,2.0,3.0,NaN

In [134]:
data1 = demo1112[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data1['years'] = '2011-2012'
data2 = demo1314[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data2['years'] = '2013-2014'
data3 = demo1516[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data3['years'] = '2015-2016'
data4 = demo1718[['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'DMDMARTL', 'RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 'WTMEC2YR', 'WTINT2YR']]
data4['years'] = '2017-2018'
data3

<ipython-input-134-fda1907b7bbf>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['years'] = '2011-2012'
<ipython-input-134-fda1907b7bbf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['years'] = '2013-2014'
<ipython-input-134-fda1907b7bbf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['years'] = '2015-2016'
<ipython-input-134-fda1907b7bbf>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['years'] = '2017-2018'

,SEQN,RIDAGEYR,RIDRETH3,DMDEDUC2,DMDMARTL,RIDSTATR,SDMVPSU,SDMVSTRA,WTMEC2YR,WTINT2YR,years
0,83732.0,62.0,3.0,5.0,1.0,2.0,1.0,125.0,135629.507405,134671.370419,2015-2016
1,83733.0,53.0,3.0,3.0,3.0,2.0,1.0,125.0,25282.425927,24328.560239,2015-2016
2,83734.0,78.0,3.0,3.0,1.0,2.0,1.0,131.0,12575.838818,12400.008522,2015-2016
3,83735.0,56.0,3.0,5.0,6.0,2.0,1.0,131.0,102078.634508,102717.995647,2015-2016
4,83736.0,42.0,4.0,4.0,3.0,2.0,2.0,126.0,18234.736219,17627.674984,2015-2016
...,...,...,...,...,...,...,...,...,...,...,...
9966,93698.0,2.0,1.0,NaN,NaN,2.0,1.0,121.0,9896.007775,9594.802391,2015-2016
9967,93699.0,6.0,4.0,NaN,NaN,2.0,1.0,129.0,9875.921047,9871.384668,2015-2016
9968,93700.0,35.0,3.0,1.0,1.0,2.0,1.0,126.0,43194.215112,42314.288108,2015-2016
9969,93701.0,8.0,3.0,NaN,NaN,2.0,2.0,124.0,48252.504294,42087.657815,2015-2016
9970,93702.0,24.0,3.0,5.0,5.0,2.0,2.0,119.0,105080.445194,107361.906644,2015-2016

In [ ]:
##format adjustment---change the type of SEQN as int
data1['SEQN']=data1['SEQN'].apply(lambda x:int(x))
data2['SEQN']=data2['SEQN'].apply(lambda x:int(x))
data3['SEQN']=data3['SEQN'].apply(lambda x:int(x))
data4['SEQN']=data4['SEQN'].apply(lambda x:int(x))

In [135]:
df = pd.concat([data1, data2, data3, data4])
df.columns = ['id', 'age', 'race/ethnicity', 'education', 'marital status', 'ridstatr', 'sdmvpsu', 'sdmvstra', 'wtmec2yr', 'wtint2yr', 'year']
df.to_pickle("./3a.pkl")
df

,id,age,race/ethnicity,education,marital status,ridstatr,sdmvpsu,sdmvstra,wtmec2yr,wtint2yr,year
0,62161.0,22.0,3.0,3.0,5.0,2.0,1.0,91.0,104236.582554,102641.406474,2011-2012
1,62162.0,3.0,1.0,NaN,NaN,2.0,3.0,92.0,16116.354010,15457.736897,2011-2012
2,62163.0,14.0,6.0,NaN,NaN,2.0,3.0,90.0,7869.485117,7397.684828,2011-2012
3,62164.0,44.0,3.0,4.0,1.0,2.0,1.0,94.0,127965.226204,127351.373299,2011-2012
4,62165.0,14.0,4.0,NaN,NaN,2.0,2.0,90.0,13384.042162,12209.744980,2011-2012
...,...,...,...,...,...,...,...,...,...,...,...
9249,102952.0,70.0,6.0,3.0,1.0,2.0,2.0,138.0,18338.711104,16896.276203,2017-2018
9250,102953.0,42.0,1.0,3.0,4.0,2.0,2.0,137.0,63661.951573,61630.380013,2017-2018
9251,102954.0,41.0,4.0,5.0,5.0,2.0,1.0,144.0,17694.783346,17160.895269,2017-2018
9252,102955.0,14.0,4.0,NaN,NaN,2.0,1.0,136.0,14871.839636,14238.445922,2017-2018
9253,102956.0,38.0,3.0,4.0,3.0,2.0,1.0,142.0,39426.299948,38645.740291,2017-2018

In [136]:
den1112 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2011-2012/OHXDEN_G.XPT')
den1314 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/OHXDEN_H.XPT')
den1516 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2015-2016/OHXDEN_I.XPT')
den1718 = pd.read_sas('https://wwwn.cdc.gov/Nchs/Nhanes/2017-2018/OHXDEN_J.XPT')
den1314

,SEQN,OHDEXSTS,OHDDESTS,OHXIMP,OHX01TC,OHX02TC,OHX03TC,OHX04TC,OHX05TC,OHX06TC,...,OHX14SE,OHX15SE,OHX18SE,OHX19SE,OHX20SE,OHX21SE,OHX28SE,OHX29SE,OHX30SE,OHX31SE
0,73557.0,1.0,1.0,2.0,4.0,4.0,4.0,4.0,4.0,4.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
1,73558.0,1.0,1.0,2.0,4.0,2.0,5.0,2.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
2,73559.0,1.0,1.0,2.0,4.0,2.0,2.0,2.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
3,73560.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,4.0,...,b'1',b'9',b'9',b'1',b'4',b'0',b'4',b'4',b'1',b'9'
4,73561.0,1.0,1.0,2.0,4.0,4.0,2.0,4.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9417,83727.0,1.0,1.0,NaN,2.0,2.0,2.0,2.0,4.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
9418,83728.0,1.0,1.0,NaN,4.0,4.0,4.0,4.0,1.0,1.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
9419,83729.0,1.0,1.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0,...,b'',b'',b'',b'',b'',b'',b'',b'',b'',b''
9420,83730.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,1.0,...,b'1',b'9',b'9',b'1',b'0',b'0',b'0',b'0',b'1',b'9'
9421,83731.0,1.0,1.0,NaN,4.0,4.0,2.0,1.0,1.0,1.0,...,b'13',b'9',b'9',b'1',b'0',b'0',b'0',b'0',b'0',b'0'

In [ ]:
#format adjustment---change the type of SEQN as int
den1112['SEQN']=den1112['SEQN'].apply(lambda x:int(x))
den1314['SEQN']=den1314['SEQN'].apply(lambda x:int(x))
den1516['SEQN']=den1516['SEQN'].apply(lambda x:int(x))
den1718['SEQN']=den1718['SEQN'].apply(lambda x:int(x))

In [139]:
# This is another thinking of the problem
#data1b = den1112[['SEQN', 'OHDDESTS', 'OHX{}TC'.format(xx), 'OHXxxCTC'.format(xx)]]
#data1b['years'] = '2011-2012'
#data2b = den1314[['SEQN', 'OHDDESTS', 'OHX{}TC'.format(xx), 'OHXxxCTC'.format(xx)]]
#data2b['years'] = '2013-2014'
#data3b = den1516[['SEQN', 'OHDDESTS', 'OHX{}TC'.format(xx), 'OHXxxCTC'.format(xx)]]
#data3b['years'] = '2015-2016'
#data4b = den1718[['SEQN', 'OHDDESTS', 'OHX{}TC'.format(xx), 'OHXxxCTC'.format(xx)]]
#data4b['years'] = '2017-2018'

dfb = pd.concat([den1112, den1314, den1516, den1718])
dfb1 = dfb.filter(regex='TC')
dfb1 = dfb1[dfb1.columns.drop(list(dfb1.filter(regex='RTC')))]
dfb2 = dfb[['SEQN', 'OHDDESTS']]
output = pd.concat([dfb2,dfb1],axis=1)
output = output.rename(columns = {"SEQN": "ID", "OHDDESTS": "den_status"})
output['ID'] = output.ID.astype('category')
output['den_status'] = output.den_status.astype('category')

for xx in range(1, 33):
    if xx < 10:
        xx = str(xx)
        xx='0' + xx
    else:
        xx = str(xx)
    TC = 'OHX{}TC'.format(xx)
    tc = 'teenth_count{}'.format(xx)
    output = output.rename(columns={TC:tc})
    
for yy in range(2, 32):
    if  yy < 10:
        yy = str(yy)
        yy = '0' + yy 
    else:
        yy = str(yy)
    CTC = 'OHX{}CTC'.format(yy)
    ctc = 'coronal_cavities{}'.format(yy)
    output = output.rename(columns={CTC:ctc})

output.to_pickle("./3b.pkl")

output

,ID,den_status,teenth_count01,teenth_count02,teenth_count03,teenth_count04,teenth_count05,teenth_count06,teenth_count07,teenth_count08,...,coronal_cavities22,coronal_cavities23,coronal_cavities24,coronal_cavities25,coronal_cavities26,coronal_cavities27,coronal_cavities28,coronal_cavities29,coronal_cavities30,coronal_cavities31
0,62161.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'S'
1,62162.0,1.0,4.0,4.0,4.0,1.0,1.0,1.0,1.0,1.0,...,b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'D',b'U',b'U'
2,62163.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Y',b'S'
3,62164.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z',b'Z'
4,62165.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,102952.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S'
8362,102953.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
8363,102954.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'F',b'S',b'S'
8364,102955.0,1.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'Z'
8365,102956.0,1.0,4.0,4.0,2.0,2.0,2.0,2.0,2.0,2.0,...,b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'S',b'E'

In [138]:
shape1 = df.shape
print('case 1 is:', shape1[0])
shape2 = output.shape
print('case 2 is:', shape2[0])

case 1 is: 39156
case 2 is: 35909